p { 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: justify;
    font-size: 13px;
    padding: 20px;
    float: inline-start;
    margin-right: 400px;
    margin-top: 30px;
}

h1 { font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 90px;
    margin-left: 10px;
    float: left;
}

.miastudenac { transform: rotate(-90deg);
    margin-top: 150px;
    margin-right: 0px;

}

* { margin-top: 20px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 20px;
}

img { float: right;
    margin-top: 0px;

}

footer { font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    font-size: 13px;
    text-align: right;

}

.mia { 
    box-shadow:  0px 50px #090707;
    margin-left: 0px;
    margin-bottom: 0px;
    

}

.mi { box-shadow: 0 15px 20px rgb(118, 118, 118);
    float: left;
    margin-right: 45px;
    margin-bottom: 30px;
    margin-top: 40px;
    margin-left: 0px;

}

.smiley { float: inline-start;

}

ol { float: right;

}

li { list-style: circle;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 10px;
    list-style-position: inside;
    line-height: 0px;
    float: inline-end;
}

.rijeka { float: inline-start;
    box-shadow: 0 15px 20px rgb(118, 118, 118);
    margin-top: 55px;

}

nav {

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: lavender;
}

.jonkoping {

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 80px;
}

.jkp {
    float: left;
    box-shadow: 0 15px 20px rgb(118, 118, 118);
    margin-right: 30px;
    margin-top: 60px;
}

.sweden {

    margin-right: 400px;
}